
@import url("/style/reset.css");
body {background:#313131; margin:0;padding:0;color:#727373;height:100%;}
body, table, tr, td {font-family:PT Sans Caption,Verdana,Tahoma;font-size:14px;font-style:normal;}
hr {border:none;margin:5px 0;}
p {line-height: 1.5;}

a{text-decoration:none;}
a:link{color:#296C4B;}
a:visited{color:##f64747;}

::-webkit-scrollbar-button{width:3px;height:0px} ::-webkit-scrollbar-track {background-color:#F6F9FC} ::-webkit-scrollbar-thumb {-webkit-border-radius: 0px;border-radius: 0px;background-color:#4E566B;} ::-webkit-scrollbar-thumb:hover{background-color:#56999f;} ::-webkit-resizer{width:4px;height:0px} ::-webkit-scrollbar{width: 6px;}

#IndexBody{margin:0 auto 0;background:#1A1A1A;width:1544px;height:100%;min-height:1000px;border:1px solid #1f372b;border-top:0;border-bottom:0;}
#IndexHead{display: inline-block;width:1300px;height:213px;padding:60px 130px 0 130px;}
#IndexHeadLogo{width:252px;height:176px;background:#1E362A;float:left;}
#IndexHeadLogo img{width:100%;height:auto;}
#IndexHeadLogo:hover{background:#276B4B;}

#HeadName{display:flex;align-items:center;justify-content:center;height: 100%;}
#HeadNameLogo p {color:#c6c6c6;font-size:33px;text-align:center;}


